.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #808080ad;
}

.modal-main {
    position: relative;
    width: 400px;
    background-color: #ef505f;
    height: 320px;
    border-radius: 18px;
    padding: 1rem;
    color: white;
}

.cross-main {
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-main h1 {
    width: fit-content;
    margin: auto;
    border-bottom: 1px solid;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.rating-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    font-size: 1.1rem;

    padding-right: 3rem;

}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

select {
    padding: 0.3rem;
    font-weight: bold;
    border-radius: 16px;
}

textarea {
    height: 3rem;
    resize: none;
    border-radius: 16px;
    border: none;
    width: 60%;
    padding: 0.5rem;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}