.single-container {
    max-width: 800px;
    margin: auto;
}

.backnav {
    position: fixed;
    top: 2rem;
    left: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.s-restraunt-detail {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding-bottom: 1rem;
}

.s-detail-section {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.s-head {
    text-align: left;
    margin-bottom: 0;
}

.review-container h1 {
    margin: 1rem 0;
}

.review-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rev-avatar {
    width: 40px;
    border-radius: 50%;
    height: 40px;
}

.review-main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rev-card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding-bottom: 1rem;
}

.profile-name {
    display: flex;
    gap: 0.5rem;
    font-size: 1.1rem;
    align-items: center;
}

.card-left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-right span {
    color: gold;
    background-color: green;
    padding: 0.2rem 0.4rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    font-weight: bolder;
}