* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 2rem 8rem;
  margin: 0 4rem;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #ef505f;
  border: none;
  border-radius: 8px;
  color: white;
  min-width: 76px;
  text-align: center;
  cursor: pointer;
}

.btn:hover,
.selected-btn {
  background-color: #8F3039;
}

.submit-btn button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(227, 227, 227);
  border: none;
  border-radius: 8px;
  color: black;
  min-width: 76px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.submit-btn button:hover {
  background-color: rgb(172, 172, 172);
}